<div class="container-fluid">
    <div class="atendimento-secao-dados">
        <h1 class="titulo-funcionalidade">
            Dados da Solicitação
        </h1>
        <div class="atendimento-secao">
            <form  class="form-solicitacao" [formGroup]="solicitacaoForm">
                <mat-form-field class="input" appearance="fill" >
                    <input matInput  readonly  [disabled]="true" type="text" formControlName="titulo" placeholder="Título">
                </mat-form-field>
                <mat-form-field class="input" appearance="fill">
                    <input matInput  readonly type="text" formControlName="observacao" placeholder="Observação">
                </mat-form-field>
                <mat-form-field class="input" appearance="fill">
                    <input matInput  readonly type="text" formControlName="tipoSolicitacao" placeholder="Tipo da Solicitação">
                </mat-form-field>
                <mat-form-field class="input" appearance="fill">
                    <input matInput  readonly type="text" formControlName="status" placeholder="Status">
                </mat-form-field>
                <mat-form-field class="input" appearance="fill">
                    <input matInput  readonly type="text" formControlName="data" placeholder="Data">
                </mat-form-field>
            </form>
            
        </div>
        <div class="atendimento-secao-registro">
            <h1 class="titulo-funcionalidade">
                Registro de Atendimento
            </h1>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
            
            <div class="button-class">
                <div class="button-right">
                    <button class="register-button" (click)="openDialog()" mat-raised-button color="primary">Registrar atendimento</button>
                    <button class="cancel" mat-raised-button color="warn" >Cancelar</button>
                </div>
                <div class="button-left">
                    <button class="upload" type="button" mat-raised-button >Anexar arquivo</button>
                </div>
                
                
            </div>
            
        </div>
        
        
        
    </div>