.container-fluid {
    width: 100%;
    max-width: 1200px;
  
    margin: 0 auto;
  }

  table {
    width: 100%;
  }

  .input {
    max-height: 200px;
    max-width: 400px;
  }

  :host ::ng-deep .mat-form-field-underline {
    /*height: 0px !important;*/
    display: none;
  }
  
  .form-solicitacao{
    display: grid;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }


  .register-button{
    margin-left: 15px;
  }

  .atendimento-secao-registro{
    margin-top: 40px;
  }

  .button-right{
      float: right;
  }

  .button-left{
      float: left;
  }
  .cancel{
    margin-left: 15px;
  }