<body>
    <header id="header">
        <li><a id="logo" href="#">Jurídico</a></li>
        <nav id="nav">
            <ul id="menu">
                <li><a href="#">Início</a></li>
                <li><a href="#">Ajuda</a></li>
                <li><a href="#">Contatos</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
        <div class="">
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquise aqui..."
                        aria-label="Amount (to the nearest dollar)">
                    <div class="input-group-append">
                        <span class="input-group-text">$</span>
                    </div>
                </div>
            </form>
        </div>
    </header>

    <div class="solicitacoes">
        <p>Solicitações</p>
    </div>

    <div class="container" id="cards">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-8 col-12 mb-4">
                <div class="card mb-2">
                    <div class="card-header bg-transparent"></div>
                    <div class="card-body text-success">
                        <h5 class="card-title">1</h5>
                    </div>
                    <div class="card-footer bg-transparent">Aguardando responsável</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-8 col-12 mb-4">
                <div class="card mb-2">
                    <div class="card-header bg-transparent "></div>
                    <div class="card-body text-success">
                        <h5 class="card-title">2</h5>
                    </div>
                    <div class="card-footer bg-transparent">Em andamento</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-8 col-12 mb-4">
                <div class="card mb-2">
                    <div class="card-header bg-transparent"></div>
                    <div class="card-body text-success">
                        <h5 class="card-title">3</h5>
                    </div>
                    <div class="card-footer bg-transparent">Com pendências</div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-8 col-12 mb-4">
                <div class="card mb-2">
                    <div class="card-header bg-transparent"></div>
                    <div class="card-body text-success">
                        <h5 class="card-title">4</h5>
                    </div>
                    <div class="card-footer bg-transparent">Finalizadas</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container botao">
        <div class="col-12">
            <li id="registrar">
                <button (click)="exibirModal()" type="button" class="btn registrarSolicitacao" data-toggle="modal"
                    data-target="#exampleModal">
                    <a>Registrar</a>
                </button>
            </li>
        </div>
    </div>

    <div class="container alignTable col-md-12 col-sm-12 col-12">
        <table class="container table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Solicitante</th>
                    <th scope="col">Responsável designado</th>
                    <th scope="col">Última modificação</th>
                    <th scope="col">Prazo</th>
                    <th scope="col">Responsável</th>
                    <th scope="col">Prazo</th>
                    <th scope="col">Status</th>
                    <th scope="col">Finalizado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>

                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>

                <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--TODO-->
    <!--Colocar esse navbar fixo no canto inferior da página-->
    <!--navbar navbar-default navbar-fixed-bottom Não funciona-->
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid " id="footer-pag">
            <div>
                Projeto Jurídico
            </div>
            <div>
                Projeto Integrador 2022.1
            </div>
        </div>
    </div>

    <!--Componente que exibe modal de cadastro-->
    <app-cadastro-requisicao
        (onCloseModal)="fecharModal($event)"
        *ngIf="this.showModal"
    ></app-cadastro-requisicao>
    <!--Componente que exibe modal de cadastro fim-->
</body>
