body{
    margin: auto;
    background-color: #F5F5F5;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*INÍCIO NAV*/
header{
    background-color: #ECECEC;
    margin: 0;
    padding:0;
    text-decoration: none;
}

header ul{
    margin: 0px;
    padding: 0px;
}

header a{
    color:rgb(0, 0, 0);
    list-style: none;
    text-decoration: none;
}

#logo:hover{
    color:white;
    text-decoration: underline;
}

#header{
    display: flex;
    align-items: center;
 
    padding:10px 3% 10px 3%;
    justify-content: space-between;
}

#logo img{
    height:40px;  
    width:62px;
}

#menu{
    list-style: none;
    display:flex;
    justify-content: space-between;
}

#menu li{
    display: block;
    padding: 0 1.5rem 0 0;
    font-size: 24px;
}

#nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#usuario{
    display: flex;
    align-items: center;
}

#user{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


#p1{
    color: #8B8683;
    font-size: calc(6px+(15-6)*((60vw-300px)/(1600-300)));
    margin: 0;
}


#p2 { 
    font-size: calc(10px+(20-10)*((60vw-300px)/(1200-300)));
    margin:0;
}

.bi{padding-left: 15px;}

/* #imagemPerfil{
} */
/*FIM NAV*/
