<div class="modal" tabindex="-1" role="dialog" id="exampleModal" style="overflow: auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel">Registro de solicitação</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="input1">
                    <label>Titulo<small style="color:red;">*</small></label>
                    <input [(ngModel)]="this.analiseJuridico.titulo" type="text" class="form-control"
                        placeholder="Pessoa física ou Empresa" aria-describedby="basic-addon3">
                </div>
                <div id="input2" class="inputs">
                    <label class="labels">Tipo da solicitação<small style="color:red;">*</small></label>
                    <ng-select [items]="this.tipoSolicitacao" bindLabel="descricao" bindValue="id"
                        dropdownPosition="bottom" [multiple]="false" [(ngModel)]="this.analiseJuridico.tipoSolicitacao">
                    </ng-select>
                </div>
                <div id="input7" class="inputs">
                    <label class="labels">Prioridade do processo<small style="color:red;">*</small></label>
                    <ng-select [items]="this.prioridade" bindLabel="name" bindValue="id" dropdownPosition="bottom"
                        [multiple]="false" [(ngModel)]="this.analiseJuridico.prioridade"></ng-select>
                </div>
                <div id="input8" class="inputs">
                    <label class="labels">Observação</label>
                    <textarea [(ngModel)]="this.analiseJuridico.observacao" class="form-control"
                        aria-label="With textarea" placeholder="Digite seu comentário aqui..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" id="confirmar" (click)="validarCondicoes()">Confirmar</button>
                <a href="#" id="cancelar" (click)="closeModal()">Cancelar</a>
            </div>
        </div>
    </div>
</div>