<div class="modal" tabindex="-1" role="dialog" id="exampleModal" style="overflow: auto;" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel">Registro de solicitação</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="input1">
                    <label>Titulo</label>                    
                    <input type="text" class="form-control" placeholder="Pessoa física ou Empresa" aria-describedby="basic-addon3">                        
                </div>
                <div id="input2" class="inputs">
                    <label class="labels">Tipo da solicitação</label>                       
                    <input type="text" class="form-control" placeholder="Pessoa física" aria-describedby="basic-addon3">                        
                </div>
                <div id="input3" class="inputs">
                    <label class="labels">Requisito solicitação</label>
                    <input type="text" class="form-control" placeholder="Unidade Central" aria-describedby="basic-addon3">
                        
                </div>
                <div id="input4" class="inputs">
                    <label class="labels">Requisito Template</label>
                    <input type="text" class="form-control" placeholder="Área ou setor" aria-describedby="basic-addon3">                    
                </div>
                <div id="input7" class="inputs">
                    <label class="labels">Analise Encerramento</label>
                    <input type="text" class="form-control" placeholder="Prioridade">
                </div>
                <div id="input7" class="inputs">
                    <label class="labels">Prioridade do processo</label>
                    <input type="text" class="form-control" placeholder="Prioridade">
                </div>
                <div id="input8" class="inputs">
                    <label class="labels">Observação</label>
                        <textarea class="form-control" aria-label="With textarea" placeholder="Digite seu comentário aqui..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" id="confirmar" (click)="salvar()">Confirmar</button>
                <a href="#" id="cancelar" (click)="closeModal()">Cancelar</a>
            </div>
        </div>
    </div>
</div>