body{
    margin: auto;
    background-color: #F5F5F5;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*INÍCIO NAV*/
header{
    background-color: #004BB5;
    color: white;
    margin: 0;
    padding:0;
    text-decoration: none;
}

header ul{
    margin: 0px;
    padding: 0px;
}

header a{
    font-weight: bold;
    font-size: 18px;
    color:white;
    list-style: none;
}

header li a:hover{
    color:white;
    text-decoration: underline;
}

#logo{
    font-size: 22px;
    list-style: none;
}

#header{
    display: flex;
    align-items: center;
    height: 2%;
    padding:1% 2% 1% 2%;
    justify-content: space-between;
}

#menu{
    list-style: none;
    display:flex;
    gap:.5rem;
}
/*FIM NAV*/

.solicitacoes p{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

/*INÍCIO CARDS*/
#cards{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.card{
    box-shadow: 4px 6px 4px 0px #B3B3B3;
}

#cards .card-footer{
    padding-top: 2%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
/*FIM CARDS*/
.botao{
    padding-bottom: 2%;
}

#registrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrarSolicitacao{
    text-decoration: none;
    background-color: #004BB5;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#registrar button:hover{
    background-color: #0D69EB;
    border-color: none;
    box-shadow: 0px 4px 4px 0px #00000040;
}

/*INÍCIO TABELA*/
table th{
    background-color: #F0EBEB;
    
}

.alignTable{
    display: block;
    overflow-y:hidden;
    color:#8B8683;
}
/*FIM TABELA*/

/*INÍCIO MODAL*/
.exampleModal{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

#exampleModal{
    display: flex;
    justify-content: center;
    display: block; 
    padding-left: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.modal span{
    color:black;
}

.modal p{
    font-size: 24px;
    font-weight: normal;
}

.input{
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #D2C8C3;
    box-sizing: border-box;
    border-radius: 3px;
}

::placeholder{
    color:#D2C8C3;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.modal .labels{
    padding-top: 5%;
}

.modal-footer button a{
    color:white;
    text-decoration: none;
}

.modal-footer button a :hover{
    color:white;
    text-decoration: none;
}

.modal-footer button{
    color: white;
    background-color: #004BB5;
}

.modal-footer button:hover{
    color:white;
    background-color: #0D69EB;
    text-decoration: none;
    border-color: none;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.modal #cancelar{
    color:#004BB5;
    font-weight: normal;
    font-size: 16px;
}
/*FIM MODAL*/

/*INÍCIO FOOTER*/
#footer-pag{
    padding: 1% 3% 1% 3%;
    background-color: #004BB5;
    color: white;
    display: flex;
    justify-content: space-between;
}
.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
/*FIM FOOTER*/